
*{
    padding: 0px;
    margin: 0px;

}
.footerh2Tag{
    width: 148px;
    font-size: 18px;
    padding: 10px;
    color: white;
    position: fixed;
    text-align: center;
    background-color: seagreen;
    margin-left: 70px;
    margin-top: 4px;
    margin-top: -48px;
    border-radius: 12px;
    box-shadow: inset -3px -3px 5px #ffffff60, inset 3px 3px 15px #00000090;
    border: 3px solid seagreen;
    display: none;
}

.socialIcon1{
    position: fixed;
    height: 26px;
    width: 26px;
    margin-top: -37px;
    background: red;
    right: 10px
}
.socialIcon2{
    position: fixed;
    height: 26px;
    width: 26px;
    margin-top: -37px;
    background: yellow;
    right: 10px
}

.socialIcon2{
    position: fixed;
    height: 26px;
    width: 26px;
    margin-top: -72px;
    background: yellow;
    right: 10px
}
.socialIcon3{
    position: fixed;
    height: 26px;
    width: 26px;
    margin-top: -107px;
    background: blue;
    right: 10px
}
.socialIcon4{
    position: fixed;
    height: 26px;
    width: 26px;
    margin-top: -141px;
    background: green;
    right: 10px
}
.socialIcon5{
    position: fixed;
    height: 26px;
    width: 26px;
    margin-top: -176px;
    background: black;
    right: 10px
}
.content{
    background-color:rgb(122,194,185);
}
.closeIcon1, .closeIcon2, .closeIcon3, .closeIcon4{
    position: absolute;
    font-size: 25px;
    right: 11px;
    top: 8px;
}

.fa-user-graduates{
    font-size: 60px;
    text-align: center;
    display: block;
}
.fa-user-circle {
    font-size: 60px;
    text-align: center;
}
.fa-brief{
    font-size: 60px;
    text-align: center;
    display: block;
}
.fa-book-reader{
    font-size: 60px;
    text-align: center;
    display: block;
}
a{
    color: black;
    font-size: 12px;
    font-family: system-ui;
    font-weight: 600;

}

/*------------about-page---------------*/
#about{
    display: none;
}

.AboutIndexHeader{
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 2.9rem;
    background-color: white;
}
.About-header{
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    padding-bottom: inherit;
}

.about-to-home{
    position: fixed;
    right: 10px;
    top: 12px;
}

.a-grid-container{
    display: grid;
    grid-template-rows: 800px;
    position: relative;
    top: 100px;
}
.img-grid-list-1{
    text-align: center;
}

.about-img{
    width: 250px;
    height: 200px;
}

.h2Title{
    margin-top: 50px;
    font-size: 34px;
    font-family: system-ui;
    font-weight: 600;
}

span{
    color: red;
    font-weight: bolder;
}

.title{
    color: gray;
    font-size: 20px;
    font-weight: normal;
    font-family: system-ui;
}

.description{
    margin-top: 50px;
    font-size: 20px;
    font-weight: normal;
    font-family: system-ui;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;

}

.justify{
    text-align: justify;
    padding-left: 30px;
    margin-top: 30px;
}

.justify-1{
    text-align: justify;
    padding-left: 30px;
    margin-top: 30px;
    padding-bottom: 132px;
}

.title-2{
    font-size: 20px;
    font-weight: bolder;
    font-family: system-ui;
}
ul{
    margin-top: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

li{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: system-ui;
}



/*-------------------------------My-Work-----------------------------*/
#work-page{
    display: none;
}


.WorkIndexHeader{
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 2.9rem;
    background-color: white;
}
.Work-header{
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    padding-bottom: inherit;
}

.neuFolder1, .neuFolder2, .neuFolder3, .neuFolder4, .neuFolder5, .neuFolder6,
.classicFolder1,.classicFolder2, .classicFolder3, .classicFolder4, .classicFolder5, .classicFolder6,
.flatFolder1,.flatFolder2, .flatFolder3, .flatFolder4, .flatFolder5, .flatFolder6{
    width: 90px;
    height: 90px;
    padding: 13px;
    margin: auto;
}
.switchWork-to-home, .flatabout-to-home, .flatswitchWork-to-home{
    position: fixed;
    right: 10px;
    top: 12px;
}

/*-----------work-page-subfolder----------------*/
.work-page-content{
    display: block;
}
.container1{
    display: none;
}
.covidHeader{
    display: inline-grid;
}
.fa-arrow-left{
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 25px;

}


/*------------------work-page-subfolder-2-------------------*/
.container2{
    display: none;
}

.githubHeader{
    display: inline-grid;
    font-weight: 300 !important;
}


/*----------------------work-page-subfolder-3-------------------*/
.container3{
    display: none;
}
.winportHeader{
    display: inline-grid;
}

/*----------------------work-page-subfolder-4-------------------*/
.container4{
    display: none;
}
.TaxmannHeader{
    display: inline-grid;
}

/*------------------------work-page-sub-folder-5--------------*/
.container5{
    display: none;
}
.EmployeePortalHeader{
    display: inline-grid;
}


/*------------------------work-page-sub-folder-6--------------*/
.container6{
    display: none;
}
.PortfolioHeader{
    display: inline-grid;
}


/*--------------------------------skill-page---------------------------------*/

#Skill-Page{
    display: none;
    position: relative;
}
.SkillIndexHeader{
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 2.9rem;
    background-color: white;
}

.switch-to-home, .skillflatswitch-to-home{
    position: fixed;
    top: 10px;
    right: 12px;
}

.Skill-header{
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    padding-bottom: inherit;
}

.webHeaderh5Tag{
    font-size: xx-large;
    font-family: system-ui;
    font-weight: 400;
}
.htmlImg, .cssImg, .bootstrapImg,.bootsclassicimg,.cssclassicimg, .htmlclassicimg,
.ES5classic,.ES6classic,.reactclassic,
.gitbashclassic,.npmclassic,.webstormclassic, .githubclassic, .msoffceclassic,
.webstormneu,.webstormflat,.webstormneu1,.gitbashneu,.npmneu,
.vscodeClassic, .ES5neu, .ES6neu,.ES6neu1, .reactimgneu,
.githubneu,.msofficeneu, .vscodenue, .vscodeflat,.vscodenue1{
    width: 60px;
    height: 60px;
    padding: 13px;
    border-radius: 50%;
}
.htmlImg,.htmlclassicimg,.ES5classic,.ES6classic,.reactclassic{
    border: 4px solid sandybrown;
}
.cssImg, .cssclassicimg{
    border: 4px solid blue;
}
.bootstrapImg, .bootsclassicimg{
    border: 4px solid slateblue;
}

.ES5classic, .ES5neu{
    border: 4px solid rgb(214,186,50);
}
.ES6classic{
    padding: 5px;
    padding-left: 10px;
    border: 4px solid rgb(214,186,50);
}
.ES6neu,.ES6neu1{
    border: 4px solid rgb(214,186,50) ;
}
.reactclassic, .reactimgneu{
    padding: 0px;
    border: 4px solid rgb(78,188,217);
}

.gitbashclassic, .gitbashneu{
    border: 4px solid rgb(237,83,54);
}
.npmclassic,.npmneu{
    border: 4px solid rgb(195,1,1);
}
.webstormclassic, .webstormneu,.webstormflat,.webstormneu1{
    border: 4px solid rgb(18,207,215);
    padding: 6px;
}
.msoffceclassic,.msofficeneu{
    border: 4px solid rgb(133,29,8);
}
.vscodeClassic,.vscodenue, .vscodeflat,.vscodenue1{
  border: 4px solid rgb(0,133,204);
}
.githubclassic,.githubneu{
    border: 4px solid black;
}

/*-----------learning-page---------------*/
#learning{
    display: none;
    position: relative;
}

.learningIndexHeader{
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0px;
    height: 2.9rem;
    background-color: white;
}
.Learning-header{
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
    padding-bottom: inherit;

}

.Learnswitch-to-home, .LearnFlat-to-home{
    position: fixed;
    right: 10px;
    top: 12px;
}
h1{
    font-weight: 300;
    font-size: x-large;
}


.grid-container{
    display: grid;
    grid-template-rows: 900px;
    position: relative;
    top: 100px;
    grid-template-columns: 20% 80%;
}

.Learning-grid-list1{
    text-align: center;
}
.circle ,.certCircle, .lapCircle, .brfCircle{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    padding-top: 10px;
}
.vr-line1, .vr-line2, .vr-line3, .vr-line4{
    height: 175px;
    border: 3px solid black;
    width: 0px;
    margin: auto;
}
.vr-line4{
    height: 146px;
}

.session-16-20{
    width: 78px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 4px;
    text-align: center;
    font-weight: 500;
    font-family: system-ui;
    font-size: smaller;
}
.session-20{
    width: 50px;
    margin-left: 10px;
    margin-top: 74px;
    padding: 4px;
    text-align: center;
    font-weight: 500;
    font-family: system-ui;
    font-size: smaller;
}
.session-future{
    width: 90px;
    margin-left: 10px;
    margin-top: 102px;
    padding: 4px;
    text-align: center;
    font-weight: 500;
    font-family: system-ui;
    font-size: smaller;
}
.degree-name, .Js-cert, .ui-tech, .Wrk-exp{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
}
.college-name , .Training-institution, .UiBrains-Company{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    color: gray;
}
.degree-holder-name, .Training-completion, .ui-trainer, .Wrk-future{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
}

.session-2k-20{
    width: 50px;
    margin-left: 10px;
    margin-top: 60px;
    padding: 4px;
    text-align: center;
    font-weight: 500;
    font-family: system-ui;
    font-size: smaller;
}



.custom-card1,.custom-card2,.custom-card3,.custom-card4{
    width: 10rem;
    height: 10rem;
    border: 3px solid black;
    background-color: rgb(122,194,185);
}

.side-card{
    width: 230px;
    height: 400px;
}

.side-row{
    width: 230px;
    height: 200px;
    position: absolute;
    top: -17rem;
    margin-left: 10px;
    margin-bottom: 50px;
}




footer{
    height: 60px;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    border-top: 3px solid black;

}


/*-----below-576-screen---*/

@media (max-width: 576px){
    .box-row{
        flex-flow: initial;
    }

    .custom-card1,.custom-card2,.custom-card3,.custom-card4{
        width: 9rem;
        height: 8rem;
    }
    .fa-user-circle, .fa-user-graduate,.fa-book-reader,.fa-brief{
        padding-bottom: 14px;
    }

    .description, li{
        font-size: 14px;
    }

    .side-card{
        width: 150px;
        height: 250px;
    }

   /* .side-row{
        position: fixed;
        top: 23rem;
        margin-left: 10px;
        margin-bottom: 50px;
    }
*/
    .col-sm-4{
        display: contents;
    }
    .htmlImg, .cssImg, .bootstrapImg,.htmlclassicimg,.cssclassicimg,.bootsclassicimg,
    .ES5classic,.ES6classic,.reactclassic,
    .gitbashclassic,.npmclassic,.webstormclassic, .msoffceclassic, .githubclassic,
    .vscodeClassic, .ES5neu, .ES6neu,.ES6neu1, .reactimgneu,.webstormneu,.webstormflat,.webstormneu1,.gitbashneu,.npmneu,
    .githubneu,.msofficeneu, .vscodenue, .vscodeflat,.vscodenue1{
        margin: auto;
    }
}


/*---below 376px-w and 650px-h*/

@media (max-width: 376px) and (max-height: 700px){
    .box-row{
        flex-flow: initial;
    }

    .custom-card1,.custom-card2,.custom-card3,.custom-card4{
        width: 7rem;
        height: 8rem;
    }

    .side-card{
        width: 140px;
        height: 250px;
    }

    .side-row{
        position: absolute;
        top: -17rem;
        margin-left: 10px;
        margin-bottom: 50px;
    }

}

/*---------below-360px-----*/

@media (max-width: 360px) {
    .box-row{
        flex-flow: initial;
    }

    .custom-card1,.custom-card2,.custom-card3,.custom-card4{
        width: 6.5rem;
        height: 7rem;
    }

    .fa-user-circle,.fa-user-graduate,.fa-brief, .fa-book-reader{
        padding-bottom: 1px;
    }
    .side-card{
        width: 130px;
        height: 250px;
    }

    .side-row{
        position: absolute;
        top: -17rem;
        margin-left: 10px;
        margin-bottom: 50px;
    }

}
